<form [formGroup]="infoForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="treffpunkt" class="label">Treffpunkt</label>
        <input
          type="text"
          nbInput
          fullWidth
          id="treffpunkt"
          placeholder="Treffpunkt"
          formControlName="treffpunkt"
          [ngClass]="{
            'form-control-danger':
              infoForm.invalid && (infoForm.dirty || infoForm.touched)
          }"
        />
      </div>
      <div class="form-group">
        <label for="spielerzahl" class="label">Spielerzahl</label>
        <input
          type="number"
          nbInput
          fullWidth
          id="spielerzahl"
          placeholder="Spielerzahl"
          formControlName="spielerzahl"
          [ngClass]="{
            'form-control-danger':
              infoForm.invalid && (infoForm.dirty || infoForm.touched)
          }"
        />
      </div>
      <div class="form-group">
        <label for="vorbesprechung" class="label">Vorbesprechung</label>
        <input
          type="text"
          nbInput
          fullWidth
          id="vorbesprechung"
          placeholder="Vorbesprechung"
          formControlName="vorbesprechung"
          [nbDatepicker]="vorbesprechungPicker"
          [ngClass]="{
            'form-control-danger':
              infoForm.invalid && (infoForm.dirty || infoForm.touched)
          }"
        /><nb-date-timepicker
          #vorbesprechungPicker
          format="DD.MM yyyy hh:mm"
        ></nb-date-timepicker>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="servername" class="label">Servername</label>
        <input
          type="text"
          nbInput
          fullWidth
          id="servername"
          placeholder="Servername"
          formControlName="serverName"
          [ngClass]="{
            'form-control-danger':
              infoForm.invalid && (infoForm.dirty || infoForm.touched)
          }"
        />
      </div>
      <div class="form-group">
        <label for="password" class="label">Passwort</label>
        <input
          type="text"
          nbInput
          fullWidth
          id="password"
          placeholder="******"
          formControlName="password"
          [ngClass]="{
            'form-control-danger':
              infoForm.invalid && (infoForm.dirty || infoForm.touched)
          }"
        />
      </div>
    </div>
  </div>
</form>
<button class="navButton" nbButton (click)="onPrevious()">previous</button>
<button class="navButton" nbButton (click)="onSubmit()">next</button>
