<form [formGroup]="discordForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="checkbox">
        <nb-checkbox (checkedChange)="toggleDiscord($event)"
          >Discord Nachricht erstellen?</nb-checkbox
        >
      </div>
      <div class="checkbox">
        <nb-checkbox (checkedChange)="isMandatory = !isMandatory"
          >Verpflichtend?</nb-checkbox
        >
      </div>
      <div class="checkbox">
        <nb-checkbox (checkedChange)="isSinglePool = !isSinglePool"
          >Kombinierter Anmeldepool?</nb-checkbox
        >
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="channel" class="label">Channel</label>
        <input
          id="channel"
          fullWidth
          formControlName="channel"
          #autoInput
          nbInput
          type="text"
          (input)="onChange()"
          placeholder="Channel"
          [nbAutocomplete]="auto"
        />
        <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
          <nb-option
            *ngFor="let option of filteredChannels$ | async"
            [value]="option.name"
          >
            {{ option.name }}
          </nb-option>
        </nb-autocomplete>
      </div>
      <div class="form-group">
        <label for="publishDate" class="label">Veröffentlichungsdatum</label>
        <input
          type="text"
          nbInput
          fullWidth
          id="publishDate"
          placeholder="Datum"
          formControlName="publishDate"
          [nbDatepicker]="publishDatePicker"
          [ngClass]="{
            'form-control-danger':
              discordForm.invalid && (discordForm.dirty || discordForm.touched)
          }"
        />
        <nb-date-timepicker
          #publishDatePicker
          format="DD.MM yyyy hh:mm"
        ></nb-date-timepicker>
      </div>
    </div>
  </div>
</form>
<button class="navButton" nbButton (click)="onPrevious()">previous</button>
<button class="navButton" nbButton (click)="onSubmit()">submit</button>
