<div class="steppers-container row">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step label="Übersicht">
            <overview-form (next)="next()"></overview-form>
          </nb-step>
          <nb-step label="Info">
            <info-form (next)="next()" (previous)="previous()"></info-form>
          </nb-step>
          <nb-step label="Spiel">
            <spiel-form (next)="next()" (previous)="previous()"></spiel-form>
          </nb-step>
          <nb-step label="Discord">
            <info-form (next)="next()" (previous)="previous()"></info-form>
          </nb-step>
          <nb-step [hidden]="true" label="">
            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>
