<nb-card
  ><nb-card-header
    ><div class="header">
      <h4>{{this.service.data.eventname}}</h4>
      <div>
        <button
          class="edit-button"
          *ngIf="accessChecker.isGranted('manage','roster') | async"
          nbButton
          (click)="edit=!edit"
        >
          {{edit?"Stop":"Edit"}}</button
        ><button nbButton (click)="refresh()">Refresh</button>
      </div>
    </div></nb-card-header
  >
  <nb-card-body
    [nbSpinner]="loading"
    nbSpinnerStatus="primary"
    nbSpinnerSize="giant"
    nbSpinnerMessage=""
    ><nb-tabset>
      <nb-tab tabTitle="Übersicht"><roster-overview></roster-overview></nb-tab>
      <nb-tab
        *ngFor="let division of this.service.divisions"
        [tabTitle]="division.name"
        ><roster-division
          [division]="division.key"
          [edit]="edit"
        ></roster-division
      ></nb-tab> </nb-tabset></nb-card-body
></nb-card>
