<nb-card
  ><nb-card-header
    ><div class="header">
      <h4>{{this.service.data.eventname}}</h4>
      <div>
        <button
          class="edit-button"
          *ngIf="accessChecker.isGranted('manage','roster') | async"
          nbButton
          (click)="edit=!edit"
          outline
          status="primary"
        >
          {{edit?"Stop":"Edit"}}</button
        ><button nbButton (click)="refresh()" outline status="primary">
          Refresh
        </button>
      </div>
    </div></nb-card-header
  >
  <nb-card-body
    [nbSpinner]="loading"
    nbSpinnerStatus="primary"
    nbSpinnerSize="giant"
    nbSpinnerMessage=""
    ><div class="row show-grid" cdkDropListGroup>
      <div class="col-md-9">
        <div class="row">
          <roster-squad
            *ngFor="let squad of this.service.data?.squads"
            class="col-md-4"
            [squad]="squad"
            [edit]="edit"
            (drop)="onDrop($event)"
            (delete)="deleteSquad($event)"
            (rename)="renameSquad($event)"
          >
          </roster-squad>
          <div class="add-squad-button col-md-4" *ngIf="edit">
            <button
              nbButton
              shape="round"
              outline
              status="primary"
              (click)="createSquad()"
            >
              <nb-icon icon="plus-square-outline"></nb-icon>Neues Squad
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          cdkDropList
          [cdkDropListDisabled]="!edit"
          class="soldier-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div
            class="soldierbox"
            *ngFor="let soldier of this.service.data?.pool"
            cdkDrag
            cdkDropListSortingDisabled
            [cdkDragData]="soldier"
          >
            {{ soldier.name }}
          </div>
          <!--<div
        class="soldier-box"
        *ngFor="let soldier of this.service.data?.reserve"
        cdkDrag
        cdkDropListSortingDisabled
        [cdkDragData]="soldier"
      >
        {{ soldier.username }}
      </div>-->
        </div>
      </div>
    </div>
  </nb-card-body></nb-card
>
