<form [formGroup]="spielForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="commander" class="label">Kommandant</label>
        <input
          id="commander"
          fullWidth
          formControlName="kommandant"
          #autoInput
          nbInput
          type="text"
          (input)="onChange()"
          placeholder="Kommandant"
          [nbAutocomplete]="auto"
        />
        <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
          <nb-option
            *ngFor="let option of filteredMembers$ | async"
            [value]="option.username"
          >
            {{ option.username }}
          </nb-option>
        </nb-autocomplete>
      </div>
      <div class="form-group">
        <label for="map" class="label">Karte</label>
        <nb-select
          class="select"
          id="map"
          fullWidth
          placeholder="Karte"
          formControlName="karte"
          [ngClass]="{
            'form-control-danger':
              spielForm.invalid && (spielForm.dirty || spielForm.touched)
          }"
        >
          <nb-option *ngFor="let map of maps" [value]="map.name">{{
            map.name
          }}</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="runden" class="label">Runden</label>
        <input
          type="number"
          nbInput
          fullWidth
          id="runden"
          placeholder="Runden"
          formControlName="runden"
          [ngClass]="{
            'form-control-danger':
              spielForm.invalid && (spielForm.dirty || spielForm.touched)
          }"
        />
      </div>
      <div class="form-group">
        <label for="faction" class="label">Seite</label>
        <nb-select
          class="select"
          id="faction"
          fullWidth
          placeholder="Seite"
          formControlName="seite"
          [ngClass]="{
            'form-control-danger':
              spielForm.invalid && (spielForm.dirty || spielForm.touched)
          }"
        >
          <nb-option *ngFor="let faction of factions" [value]="faction.name">{{
            faction.name
          }}</nb-option>
        </nb-select>
      </div>
    </div>
  </div>
</form>
<button class="navButton" nbButton (click)="onPrevious()">previous</button>
<button class="navButton" nbButton (click)="onSubmit()">next</button>
