.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}
.title {
  text-align: center;
}
.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}
.home-button {
  margin: 0 auto 2rem auto;
  display: block;
}
