<div class="row show-grid" cdkDropListGroup>
  <div class="col-md-9">
    <div class="row">
      <roster-squad
        *ngFor="let squad of this.service.data[this.division]?.squads"
        class="col-md-4"
        [squad]="squad"
        (drop)="onDrop($event)"
        (delete)="deleteSquad($event)"
        (rename)="renameSquad($event)"
      >
      </roster-squad>
      <div class="add-squad-button col-md-4">
        <button
          nbButton
          shape="round"
          outline
          status="primary"
          (click)="createSquad()"
        >
          <nb-icon icon="plus-square-outline"></nb-icon>Neues Squad
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div cdkDropList class="soldier-list" (cdkDropListDropped)="onDrop($event)">
      <div
        class="soldier-box"
        *ngFor="let soldier of this.service.data[this.division]?.pool"
        cdkDrag
        cdkDropListSortingDisabled
        [cdkDragData]="soldier"
      >
        {{ soldier.username }}
      </div>
      <div
        class="soldier-box"
        *ngFor="let soldier of this.service.data[this.division]?.reserve"
        cdkDrag
        cdkDropListSortingDisabled
        [cdkDragData]="soldier"
      >
        {{ soldier.username }}
      </div>
    </div>
  </div>
</div>
