<div class="row show-grid" cdkDropListGroup>
  <div class="col-md-9">
    <div class="row">
      <div
        cdkDropList
        class="soldier-list col-md-4"
        *ngFor="let squad of this.service.data[this.division]?.squads"
      >
        <div class="soldier-box" *ngFor="let soldier of squad.members" cdkDrag>
          {{ soldier.username }}
        </div>
      </div>
    </div>
  </div>
  <div cdkDropList class="soldier-list col-md-3">
    <div
      class="soldier-box"
      *ngFor="let soldier of this.service.data[this.division]?.pool"
      cdkDrag
    >
      {{ soldier.username }}
    </div>
  </div>
</div>
