@import "../../../@theme/styles/themes.scss";

.right-align {
  text-align: end;
}

.center-align {
  text-align: center;
}

.small-text {
  font-size: small;
}

@include nb-install-component {
  .date-card {
    border-bottom: solid 0.0625rem nb-theme(border-basic-color-4);
  }
}
