<nb-card status="{{ anmeldung.status }}">
  <nb-card-header> {{ anmeldung.message }}</nb-card-header>
</nb-card>
<div class="row show-grid">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header> {{ event?.name }}</nb-card-header>
      <nb-card-body class="date-card"
        ><div class="row">
          <div class="col-6 small-text">Datum:</div>
          <div class="col-6 right-align small-text">
            {{ event?.date | localDate }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 small-text">Vorbesprechung:</div>
          <div class="col-6 right-align small-text">
            {{ event?.briefing | localDate }}
          </div>
        </div></nb-card-body
      >
      <nb-card-body>
        {{ event?.description }}
      </nb-card-body>
      <nb-card-footer
        ><div class="row">
          <div class="col-4 col-md-6 small-text">Organisator:</div>
          <div class="col-8 col-md-6 right-align small-text">
            {{ event?.organisator.name }}
          </div>
        </div></nb-card-footer
      > </nb-card
    ><nb-card>
      <nb-card-header> Spielinfo</nb-card-header>
      <nb-card-body
        ><div class="row">
          <div class="col-md-3 col-6">
            <div class="small-text">Kommandant:</div>
            <div>{{ event?.commander }}</div>
          </div>
          <div class="col-md-3 col-6">
            <div class="small-text">Runden:</div>
            <div>{{ event?.rounds }}</div>
          </div>
          <div class="col-md-3 col-6">
            <div class="small-text">Karte:</div>
            <div>{{ event?.hllMap }}</div>
          </div>
          <div class="col-md-3 col-6">
            <div class="small-text">Seite:</div>
            <div>{{ event?.faction }}</div>
          </div>
        </div></nb-card-body
      >
    </nb-card>
    <button nbButton (click)="viewSquad()">Zur Aufstellung</button>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>Spielerinfo</nb-card-header>
      <nb-card-body
        ><div class="row">
          <div class="col-6">
            <div class="small-text">Spieler:</div>
            <div>{{ event?.playerCount }}/{{ event?.maxPlayerCount }}</div>
          </div>
          <div class="col-6">
            <div class="small-text">Anmeldefrist:</div>
            <div>{{ event?.registerByDate | localDate }}</div>
          </div>
        </div></nb-card-body
      >
    </nb-card>
    <nb-card>
      <nb-card-header>Serverinfo</nb-card-header>
      <nb-card-body
        ><div class="row">
          <div class="col-6">
            <div class="small-text">Server:</div>
            <div>{{ event?.server }}</div>
          </div>
          <div class="col-6">
            <div class="small-text">Passwort:</div>
            <div>{{ event?.password }}</div>
          </div>
        </div></nb-card-body
      >
    </nb-card>
  </div>
</div>
