@font-face {
  font-family: 'hllroles';
  src:  url('fonts/hllroles.eot?djh3zw');
  src:  url('fonts/hllroles.eot?djh3zw#iefix') format('embedded-opentype'),
    url('fonts/hllroles.ttf?djh3zw') format('truetype'),
    url('fonts/hllroles.woff?djh3zw') format('woff'),
    url('fonts/hllroles.svg?djh3zw#hllroles') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="role-"], [class*=" role-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hllroles' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.role-commander:before {
  content: "\e900";
}
.role-crewman:before {
  content: "\e901";
}
.role-engineer:before {
  content: "\e902";
}
.role-machinegunner:before {
  content: "\e903";
}
.role-medic:before {
  content: "\e904";
}
.role-officer:before {
  content: "\e905";
}
.role-rifleman:before {
  content: "\e906";
}
.role-sniper:before {
  content: "\e907";
}
.role-spotter:before {
  content: "\e908";
}
.role-support:before {
  content: "\e909";
}
.role-tankcommander:before {
  content: "\e90a";
}
.role-antitank:before {
  content: "\e90b";
}
.role-assault:before {
  content: "\e90c";
}
.role-automaticrifleman:before {
  content: "\e90d";
}
