<div
  class="squad-header"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
>
  <input
    nbInput
    fieldSize="large"
    [value]="this.squad.name"
    [readOnly]="!edit"
    (focusout)="renameSquad()"
    (keyup.enter)="renameSquad()"
    [attr.id]="'squad-name-' + this.squad.id"
  />
  <button nbButton ghost *ngIf="hover && edit" (click)="deleteSquad()">
    <nb-icon icon="trash-2-outline"></nb-icon>
  </button>
</div>
<div
  cdkDropList
  class="soldier-list"
  [cdkDropListDisabled]="!edit"
  (cdkDropListDropped)="onDrop($event)"
  id="{{ 'squad-' + squad.id }}"
>
  <soldier-box
    class="soldierbox"
    *ngFor="let soldier of this.squad.members"
    cdkDrag
    [cdkDragData]="soldier"
    [soldier]="soldier"
  >
  </soldier-box>
</div>
