@import "../../../@theme/styles/themes.scss";

.squad-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.squad-name {
  max-width: calc(100% - 40px);
  width: calc(100% - 40px);
}

@include nb-install-component {
  input {
    min-height: 40px;
    padding: 0px 0px 10px !important;
    border: none !important;
    background: nb-theme(background-basic-color-1) !important;
    font-size: 20px !important;
    min-width: 0%;
  }
}

nb-icon {
  margin-right: 0.5rem;
}
